<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TranSafe - Dashboard</title>

<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/datepicker3.css" rel="stylesheet">
<link href="../static/css/styles.css" rel="stylesheet">

<!--Icons-->
<script src="../static/js/lumino.glyphs.js"></script>
<script src="http://www.w3schools.com/lib/w3data.js"></script>

<!--[if lt IE 9]>
<script src="../static/js/html5shiv.js"></script>
<script src="../static/js/respond.min.js"></script>
<![endif]-->

</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard"><span>Tran</span>Safe</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="{{image}}" class="img-circle" alt="picture" style="max-width: 22%; position: absolute; left: -35px;" > {{name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/profile"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                            <li><a href="/authorize/logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div><!-- /.container-fluid -->
    </nav>
    <!-- END NAVBAR -->

    <!-- SIDEBAR -->
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
            <li id="page_home"><a href="/dashboard"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
            <li id="page_rating"><a href="/rating"><svg class="glyph stroked star"><use xlink:href="#stroked-star"/></svg>Rating</a></li>
            <li id="page_transaction"><a href="/transaction"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Transactions</a></li>
            <li id="page_money"><a href="/money"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg>Payment Methods</a></li>
            <li role="presentation" class="divider"></li>
            <li id="page_add_transaction"><a href="/add_transaction"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Create transaction</a></li>
          </ul>

    </div><!--/.sidebar-->
    <!-- END SIDEBAR -->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Home</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked star"><use xlink:href="#stroked-star"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{rating}}/5</div>
							<div class="text-muted">Rating</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div id="ratings" class="large">52</div>
							<div class="text-muted">Messages</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{total_trans}}</div>
							<div class="text-muted">Transactions</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-red panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked hourglass"><use xlink:href="#stroked-hourglass"/></svg>
                        </div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{pending}}</div>
							<div class="text-muted">Pending</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

    <div class="col-md-6">
			<div class="panel panel-teal">
				<div class="panel-heading dark-overlay">Some tips</div>
				<div class="panel-body">
					<ul>
						<li>Complete all the transactions</li>
						<li>If you do more transactions the fee will descrease</li>
						<li>Your customers will know your rating and your history</li>
						<li>You can always resolve an issue with us and with the other part</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-blue">
				<div class="panel-heading dark-overlay">What you must not do</div>
				<div class="panel-body">
					<ul>
						<li>Engage in malicious transactions</li>
						<li>Not check the history of the seller</li>
						<li>Verify if the seller is verified or not</li>
						<li>Not be honest</li>
					</ul>
				</div>
			</div>
		</div>

	</div>	<!--/.main-->

	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/chart.min.js"></script>
	<script src="../static/js/chart-data.js"></script>
	<script src="../static/js/easypiechart.js"></script>
	<script src="../static/js/easypiechart-data.js"></script>
	<script src="../static/js/bootstrap-datepicker.js"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})


        $("#page_home").addClass("active");
	</script>
  <script type="text/javascript">
      $(document).ready(function () {
        var url = "/transaction/list?dataType=rating";
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.onreadystatechange = processRequest;

        function processRequest(e) {
          if (xhr.readyState == 4 && xhr.status == 200) {
             var response = JSON.parse(xhr.responseText);
             console.log(response);
          }
        }

      });
  </script>
</body>

</html>
