<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TranSafe - List Transactions</title>

	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/datepicker3.css" rel="stylesheet">
	<link href="../static/css/styles.css" rel="stylesheet">
	<link href="../static/css/bootstrap-table.css" rel="stylesheet">

	<!--Icons-->
	<script src="../static/js/lumino.glyphs.js"></script>
	<script src="http://www.w3schools.com/lib/w3data.js"></script>

	<!--[if lt IE 9]>
	<script src="../static/js/html5shiv.js"></script>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/dashboard"><span>Tran</span>Safe</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="{{image}}" class="img-circle" alt="picture" style="max-width: 22%; position: absolute; left: -35px;" > {{name}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/profile"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="/authorize/logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>
	<!-- END NAVBAR -->

	<!-- SIDEBAR -->
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li id="page_home"><a href="/dashboard"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
			<li id="page_rating"><a href="/rating"><svg class="glyph stroked star"><use xlink:href="#stroked-star"/></svg>Rating</a></li>
			<li id="page_transaction"><a href="/transaction"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Transactions</a></li>
			<li id="page_money"><a href="/money"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg>Payment Methods</a></li>
			<li role="presentation" class="divider"></li>
			<li id="page_add_transaction"><a href="/add_transaction"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>Create transaction</a></li>
		</ul>

	</div><!--/.sidebar-->
	<!-- END SIDEBAR -->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">List Transactions</li>
			</ol>
		</div><!--/.row-->


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>
						<h3>Transactions as Buyer</h3>
						<p>
						<table data-toggle="table" data-url="/transaction/list?dataType=buyer"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
							<thead>
							<tr>
								<th data-field="state" data-sortable="true">State</th>
								<th data-field="seller" data-sortable="true">Seller</th>
								<th data-field="price" data-sortable="true">Price €</th>
								<th data-field="url">URL</th>
								<th data-field="tracking">Tracking Number</th>
								<th data-field="actions">Actions</th>
							</tr>
							</thead>
						</table>
						<p>
						<h3>Transactions as Seller</h3>
						<p>
						<table data-toggle="table" data-url="/transaction/list?dataType=seller"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
							<thead>
							<tr>
								<th data-field="state" data-sortable="true">State</th>
								<th data-field="buyer" data-sortable="true">Buyer</th>
								<th data-field="price" data-sortable="true">Price €</th>
								<th data-field="url">URL</th>
								<th data-field="tracking">Tracking Number</th>
								<th data-field="actions">Actions</th>
							</tr>
							</thead>
						</table>
						<div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Modal Header</h4>
			        </div>
			        <div class="modal-body">
			          <p>Some text in the modal.</p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
	</div>
	<script>
	function pay(id){

	console.log(id);

		MyWindow=window.open("/pay_gateway/?id="+id+"",'MyWindow',width=600,height=300);

		MyWindow.onbeforeunload= function(){
			console.log("sadabs");
			location.reload();
		}
		return false;
	}

	</script>

	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/chart.min.js"></script>
	<script src="../static/js/chart-data.js"></script>
	<script src="../static/js/easypiechart.js"></script>
	<script src="../static/js/easypiechart-data.js"></script>
	<script src="../static/js/bootstrap-datepicker.js"></script>
	<script src="../static/js/bootstrap-table.js"></script>

	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
			if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
			if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})

		w3IncludeHTML();
		$("#page_transaction").addClass("active");
	</script>
</body>

</html>
